body{
    margin:0;
    overflow-y: scroll;
}

.hide{
    display: none;
}

body::-webkit-scrollbar{
   display: none;
}
.nav-container{
display: flex;
justify-content: space-around;
margin-right: 100px;
}


header{
    padding: 1px;
    background-color:#000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    width: 100%;
    z-index: 7;
    top: 0px;
    padding-left: 80px;
    border-bottom:5px solid #C69749;
}

.header-brand{
    color: white;
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    margin: 10px;
}


.section h3{
   font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    font-weight: 800;
    position: relative;
}

.section h3::after{
   content: " ";
   bottom: -5px;
   left: -5px;
   position:absolute;
   background-color: #C69749;
   border-radius: 3px;
   width: 110%;
   height: 3px;
   transform: scaleX(0);
   transform-origin: left;
   transition: all 0.3s; 
}

.section h3:hover:after{
    transform: scaleX(100%);
   transition: all 0.3s; 
}



.header-brand span{
    color: #C69749;
}



.section{
    cursor: pointer;
    color: white;
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   margin:0px 60px;
   box-shadow: 15px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.categorie{
    display: flex;
    flex-direction: row;
}

.categorie i{
    margin-left: 10px;
}
.filter{
    border-radius: 5px;
    background-color: #C69749;
    line-height: 1.6;
    position:absolute;
    top: 80%;
    background-color: 000000;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filter ul{
    margin-left: 10px;
    margin-right: 10px;
    width: 180px;
    padding: 0;
}
.filter ul li{ 
    margin: 0;
    text-align: left;
    list-style: none;
    padding:5px 5px;
}
.filter ul li a{
    text-decoration: none;
    font-size: 1.3em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;

}

.filter ul li:hover{
   border-radius: 5px;
    background-color: #735F32;
}


.last-footer
{   text-align: center;
    font-family: 'Oswald', sans-serif;
    padding: 1px;
    background-color: #000000;
    color: #C69749;
}

main{
    height: 315vh;
    background-color: #201b1b;
}

.contentOfDay{
    margin-top: 150px;
    margin-left: 100px;
    height: 500px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.describeofmovie{
      width:500px;
}

.titleOfMovie{
    font-size: 3em;
}

.topOfDay{
  height: 100%;
}

.playoftheday , .favoftheday{
    margin-top: 30px;
    font-size: 1.6em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 150px;
    height: 50px;
    background-color: rgba(63, 55, 55, 0.5);
    color: white;
    border-radius: 10px;
    border: none;
}

.favoftheday{
    margin-left: 50px;
    width: 200px;
}
.favoftheday:hover,.playoftheday:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
.movieoftheday{
    display: flex;
    height: 600px;
    background-image: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    position: relative;
    background: rgba(71, 68, 68, 0.7);
}
.popularmovies,.nowplaymovies,.upmovies,.ratemovies{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    height: 500px;
    background-color:#201b1b;
    padding-left: 100px;
    border-top: 2px solid #C69749;
}
.cardMovie{
    /* margin-left: 100px; */
    background-position: center; 
    background-blend-mode: darken;
    background:rgba(71, 68, 68, 0.4);
    background-repeat: no-repeat;
    background-size:300px 400px;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    border: 1px solid black;
    margin-right: 50px;
}
.cardMovie:hover{
    background:rgba(71, 68, 68, 0);
    background-position: center; 
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size:300px 400px;
    border: 3px solid #C69749;
}
/* BUTOANE FILME MAI INCOLO  */
.btn-popular-play ,.btn-popular-add{
    border-radius: 100%;
    border: none;
    width: 40px;
    height: 40px;
    /* display: none; */
}


.buttonsCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-end;
}
.head-of-sections{
    margin-left: 100px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.8em;
}

.movies-container{
   padding:2px;
   background-color:rgba(0, 0, 0, 0.2);
}